Source: libgscgi
Section: libs
Priority: extra
Maintainer: Nick Melnick <nick@abstractwankery.com>
Build-Depends: debhelper (>= 8.0.0), valac, libglib2.0-dev
Standards-Version: 3.9.5
Homepage: https://github.com/AmbitionFramework/libgscgi
#Vcs-Git: git://git.debian.org/collab-maint/libgscgi.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libgscgi.git;a=summary

Package: libgscgi
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libglib2.0-0
Description: SCGI library for GObject
 SCGI library for GObject
